
#fondo{
	position: relative;
	margin-top: 2%;
}
#grupo{
	position: relative;
	margin-top: 2%;
}

.datagrid table { 
	border-collapse: collapse;
	text-align: left; width: 100%;
	
	
	
 }
 
.datagrid {
	font: normal 12px/150% Times New Roman, Times, serif; 
	background: #fff;
	overflow: hidden; 
	border: 1px solid #006699; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}
.datagrid table td, .datagrid table th {
	padding: 3px 10px;
}
.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699; 
	color:#FFFFFF; 
	font-size: 17px; 
	font-weight: bold; 
	border-left: 1px solid #0070A8;
 } 
 .datagrid table thead th:first-child { 
 	border: none; 
 }
 .datagrid table tbody td { 
	 color: #00557F; 
	 border-left: 1px solid #E1EEF4;
	 font-size: 13px;
	 font-weight: normal;
  }
  .datagrid table tbody .alt td { 
  background: #D1E5EE;
   color: #00557F;
   border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom:  1px solid #FFFFFF;
    border-top:  1px solid #FFFFFF;
   
    }
.datagrid table tbody td:first-child { 
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom:  1px solid #FFFFFF;
    border-top:  1px solid #FFFFFF;
    }
.datagrid table tbody tr:last-child td { 
    border-bottom: 1px solid #FFFFFF;
     border-right: 1px solid #FFFFFF;
    border-bottom:  1px solid #FFFFFF;
    border-top:  1px solid #FFFFFF;
    }
 .datagrid table tbody tr:hover td{
 background-color:  	#F0F8FF;
 }   
    .datagrid table tfoot td div {
     border-top: 1px solid #006699;
     background: #E1EEf4;} 
     .datagrid table tfoot td {
      padding: 0;
       font-size: 12px }
        .datagrid table tfoot td div{ 
        padding: 2px;
         }
     .datagrid table tfoot td ul { 
     margin: 0;
      padding:0; 
      list-style: none;
       text-align: right; }
       .datagrid table tfoot  li {
        display: inline;
         }
    .datagrid table tfoot li a {
     text-decoration: none;
      display: inline-block;
        padding: 2px 8px;
         margin: 1px;
         color: #FFFFFF;
         border: 1px solid #006699;
         -webkit-border-radius: 3px; 
         -moz-border-radius: 3px;
          border-radius: 3px;
           background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
           background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
           filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
           background-color:#006699; 
           }
           
           .datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
           text-decoration: none;border-color: #00557F;
            color: #FFFFFF;
             background: none;
              background-color:#006699;
              }
              div.dhtmlx_window_active, div.dhx_modal_cover_dv {
               position: fixed !important; }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    body {
  margin: 5px; 
  font-family: Arial, Helvetica, sans-serif;
   background-image: url("../images/fondoblanco.jpg") ;
   background-repeat: no-repeat;
   background-size: cover;
 
}

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  border-bottom: 2px solid #0fa1e0;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 12px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #31b7f1;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}
    
    
    