<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GetNoteServlet</servlet-name>
		<servlet-class>es.upm.dit.PostItAppServer.GetNoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostNoteServlet</servlet-name>
		<servlet-class>es.upm.dit.PostItAppServer.PostNoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNoteServlet</servlet-name>
		<url-pattern>/getnote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostNoteServlet</servlet-name>
		<url-pattern>/postnote</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
